{% extends 'themes/base_agent.html.twig' %}

{% block title %}En attente de le confirmation du compte par email
{% endblock %}

{% block description %}
	Nous sommes en attente de la vérification de votre compte par email
{% endblock %}

{% block main %}
	<main>
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<h1>En attente</h1>
					<p>Un mail vous a été envoyer pour la confirmation de votre compte. Veuillez consulter votre boite mail</p>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
